<!-- partials/header.html -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">DMC</a>
        <a class="navbar-brand" href="/op-mcp.html">Operational MCP</a>
        <a class="navbar-brand" href="/mcp.html">Documentation</a>
    </div>
</nav>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="mb-0">Digital Maritime Consultancy ApS</h1>
            <p style="font-style: italic;">
                A member of <a href="https://aivenautics.com" target="_blank" rel="noopener noreferrer" style="color: black;">Team AIVeNautics</a>
            </p>


        </div>
    </div>
</header>
